.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo-text {
        font-family: Nunito;
        font-weight: 900;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: #155883;
    }
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #155883;
}

.subtitle {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: #A0AEC0;
}

