@use '@angular/material' as mat;

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 140px;
  background-color: #f9fafb;
  border-radius: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;

  .profile-header-row {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.profile-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .profile-content-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    .profile-content-row-input {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

.profile-header-img {
  margin-left: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-header-title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #000000;
  margin: 0;
}

.profile-header-subtitle {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #333333;
}

.read-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f9f9f9;
  height: 52px;
  width: 100%;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: gray;
}

.field-title-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #000000;
}

.cats-content {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  .cats-content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.cats-text {
  width: 80%;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-bottom: 1rem;
}

.cat-image {
  width: 300px;
  height: 198px;
  border-radius: 2rem;
  object-fit: cover;
}

.cat-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: gray;
}

.actions {
  display: flex;
  width: 80%;
  margin-top: 1rem;
}

.add-cat-button {
  align-self: flex-start;
  @include mat.button-overrides(
    (
      filled-container-color: #155883,
    )
  );
}
