<div class="navbar-container">
  <div class="icon-button">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <span>Home</span>
  </div>

  <div class="icon-button">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="group"></mat-icon>
    <span>Friends</span>
  </div>

  <div class="icon-button">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="work"></mat-icon>
    <span>Cats</span>
  </div>

  <div class="icon-button">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="chat"></mat-icon>
    <span>Messages</span>
  </div>

  <div class="icon-button">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <span>Notifications</span>
  </div>

  <div class="icon-button">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="account_circle"></mat-icon>
    <span>Profile</span>
  </div>
</div>
