<div class="profile-container">
  <div class="profile-card">
    <img class="profile-picture" src="/profile-example.jpg" alt="profile-example" />
    <h3 class="profile-name">David hurtado</h3>
    <p class="profile-description">Cat enthusiast & full-time feline cuddler. 🐾</p>
    <div class="profile-card-row">
      <span class="profile-contact-text">Contacts</span>
      <span class="profile-contact-text">fifty</span>
    </div>
    <span class="profile-intro-text">
      🐱 50 fellow cat lovers Always ready to share purrfect stories
    </span>
    <div class="profile-card-row">
      <span class="profile-views-text">Profile views</span>
      <span class="profile-contact-text">3</span>
    </div>
    <span class="profile-exclusive-text">Access to exclusive catnip tools</span>
    <span class="profile-try-text">🎁 Try Meowmium for free</span>
    <div class="profile-card-row-alt">
      <mat-icon aria-hidden="false" aria-label="bookmark" fontIcon="bookmark"></mat-icon>
      <span class="profile-elements-text">My elements</span>
    </div>
  </div>

  <div class="profile-card">
    <span class="profile-last-text">Latest</span>
    <span class="profile-latest-text">🐾 New tips on cozy cat beds</span>
    <span class="profile-latest-text">🐾 How to train your cat to high-five</span>
    <span class="profile-latest-text">🐾 Best toys for lazy kitties</span>
    <span class="profile-latest-text">🐾 Grooming guide for long-haired cats</span>
    <span class="profile-latest-text">🐾 The science of cat purring</span>
    <span class="profile-groups-text">Groups</span>
    <span class="profile-subgroup-text">🐱 Tabby Lovers United</span>
    <span class="profile-subgroup-text">🐱 Senior Cats Appreciation Club</span>
    <span class="profile-subgroup-text">🐱 Adopt Don't Shop Community</span>
    <div class="profile-card-row">
      <span class="profile-showmore-text">show more</span>
      <mat-icon
        class="profile-showmore-icon"
        aria-hidden="false"
        aria-label="bookmark"
        fontIcon="keyboard_arrow_down"></mat-icon>
    </div>
    <div class="profile-card-row">
      <span class="profile-events-text">Events</span>
      <mat-icon
        class="profile-add-icon"
        aria-hidden="false"
        aria-label="bookmark"
        fontIcon="add"></mat-icon>
    </div>
    <span class="profile-tracked-text">Tracked hashtags</span>
    <span class="profile-searchnew-text">Search for new</span>
  </div>
</div>
